.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: auto; 
    background-color: rgb(255, 255, 255);
}

.container__header {
    background-color: rgb(133, 133, 133);
    color: rgb(0, 0, 0);
    padding: 180px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;   
    margin: auto;
    flex-direction: column; 
    height: 100%;
}

.container__header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.container__header h1 {
    margin: 0;
    font-size: 75px;
    font-family: 'Arial', sans-serif;
    margin-bottom: auto;
}

.container__header-image {
    width: 250px;
    height: 250px;
    align-self: center;
    margin-top: 20px;
}

.container__card {
    background-color: rgb(204, 204, 204);
    color: black;
    padding: 20px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 4px;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px auto;
    width: 300px;
    height: 400px;
}

.container__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 1em;
    width: 90%;
    margin: 0 auto; 
    margin-top: 50px;
    margin-bottom: 50px;
}

.container__footer {
    background-color: rgb(133, 133, 133);
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
    font-size: 15px;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;   
    margin: auto;
    flex-direction: column; 
    width: 98%;
}

.container__footer-props a{
    color: white;
    font-size: 15px;
}

.container__card-text-year {
    margin-top: 10px;
    font-weight: lighter;
    font-size: 18px;
}
